services:
  app:
    container_name: node_app
    build:
      context: .
      dockerfile: infra/node/Dockerfile.prod
    ports:
      - "3000:3000"
    env_file:
      - ./app/.env
    depends_on:
      - redis
    networks:
      - app_network

  redis:
    container_name: redis_db
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network

volumes:
  redis_data:


networks:
  app_network:
