services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: manipulation_lab
    ports:
      - "5432:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
