<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders List</title>
</head>

<body>
    <h1>Orders List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>
                    Order number
                </th>
                <th>
                    Order name
                </th>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.customer.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>