services:
  flask_app_1:
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        - APP_PORT=3000
    container_name: flask_app_1
    environment:
      - APP_PORT=3000
      - DEBUG=False
      - APP_TITLE=Flask App 1
      - FLASK_ENV=production
      - FLASK_DEBUG=0

  flask_app_2:
    build:
      context: .
      dockerfile: Dockerfile.prod
      args:
        - APP_PORT=3000
    container_name: flask_app_2
    environment:
      - APP_PORT=3001
      - DEBUG=False
      - APP_TITLE=Flask App 2
      - FLASK_ENV=production
      - FLASK_DEBUG=0

  nginx_proxy:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/ip_hash_configs/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - flask_app_1
      - flask_app_2
